//
//  Secrets.xcconfig
//  ShoppingShopping
//
//  Created by Suji Jang on 7/26/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

X_Naver_Client_Id = Svpt2S_nL8EkKAO2GZYM
X_Naver_Client_Secret = hnHlvaRQiO
